*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}


#heading{
    margin: 20px;
}

table{
    padding: 2px;
    margin: 2px;
}
