

body{   
    background-color: #14120b;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif ;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
    margin: auto;


}


nav div {
    display: flex;
    
}

#icon-img{
    width: 20px;
}
#brand-img{
    width: 60px;
}

#nav-item2{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;  
    align-items: center;
}

#nav-item2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 8px;

}
#nav-item2 a:hover {
    color: #CCCCCC;

}

#prim-btn {
    border: 1px solid #FFFFFF ;
    border-radius: 20px;
    padding:  2px 8px 2px 8px;
    font-size: 8px;
}

#prim-btn:hover {
    border-color:  #CCCCCC ;
}

#sec-btn {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
    font-size: 8px;
    color: #000000;
}

#sec-btn:hover {
    background-color: #CCCCCC;
}


#hero-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 2px solid red; */
    margin: 50px auto;
    gap: 10px;
}
#hero-section div {
    font-size: 14px;
}

#download-btn {
    margin: 10px 0px 10px 0px  ;
}

#download-btn a{ 
    text-decoration: none;
    background-color: #CCCCCC;
    border-radius: 20px;
    padding: 6px 8px 6px 8px;
    color: #000000;
    font-size: 10px;
}


#hero-section div img {
    margin-top: 20px;
    width: 100%;
}
