

body{   
    background-color: #14120b;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif ;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
    margin: auto;


}


nav div {
    display: flex;
    
}

nav div img{
    width: 30px;
    height: 30px;
}

#nav-item2{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;  
    align-items: center;
}

#nav-item2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 8px;

}
#nav-item2 a:hover {
    color: #CCCCCC;

}

#prim-btn {
    border: 1px solid #FFFFFF ;
    border-radius: 20px;
    padding:  5px 10px 3px 10px;
    font-size: 8px;
}

#prim-btn:hover {
    border-color:  #CCCCCC ;
}

#sec-btn {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px 3px 10px;
    font-size: 8px;
    color: #000000;
}

#sec-btn:hover {
    background-color: #CCCCCC;
}

