

body{   
    background-color: #14120b;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif ;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
    margin: auto;


}


nav div {
    display: flex;
    
}

#icon-img{
    width: 20px;
}
#brand-img{
    width: 60px;
}

#nav-item2{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;  
    align-items: center;
}

#nav-item2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 8px;

}
#nav-item2 a:hover {
    color: #CCCCCC;

}

#nav-item3 { 
    gap: 10px;
}

#prim-btn {
    border: 1px solid #FFFFFF ;
    border-radius: 20px;
    padding:  2px 8px 2px 8px;
    font-size: 8px;
}

#prim-btn:hover {
    border-color:  #CCCCCC ;
}

#sec-btn {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
    font-size: 8px;
    color: #000000;
}

#sec-btn:hover {
    background-color: #CCCCCC;
}


#hero-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 2px solid red; */
    margin: 70px auto ;
    gap: 10px;
}
#hero-section div {
    font-size: 14px;
}

#download-btn {
    margin: 10px 0px 10px 0px  ;
}

#download-btn a{ 
    text-decoration: none;
    background-color: #CCCCCC;
    border-radius: 20px;
    padding: 6px 8px 6px 8px;
    color: #000000;
    font-size: 10px;
}


#hero-section div img {
    margin-top: 20px;
    width: 100%;
}


#trust-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
    margin: 70px auto;
    gap: 10px;
}

#truct-section div {
    font-size: 600px;
}
#trust-cards{
    display: flex;
    justify-content: space-evenly;
    /* margin: 80% auto; */
    gap: 10px;
    margin-top: 10px;
}

#trust-cards-child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1913;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid  #242119;
    border-radius: 3px;
}


#trust-cards-child img{
    width: 40%;
}


#feature { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 70px auto;
    gap: 40px;
}

#feature-child1{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #1b1913;
    padding: 15px;
    padding-bottom: 15px;
    border: 1px solid  #242119;
    border-radius: 3px;
}

#feature-child1 #text{
    width: 40%;
    /* line-height: 16px; */
    font-size: 13px;
}

#feature-child1 a , #changelog a , #use-case-child1 a{
    text-decoration: none;
    color: red;
    font-size: 10px;
}



#feature-child1 img{
    width: 100%;
    border-radius: 3px;

}


#use-case{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 70px auto;
    gap: 10px;

}

#use-case-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#use-case-child1 { 
    display: flex;
    background-color: #1b1913;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid  #242119;
    border-radius: 3px;
}

#use-case #text{
    font-size: 14px;
}

#changelog{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 70px auto;
    gap:16px;

}

#changelog #text{
    font-size: 14px;
}

#changelog-cards{ 
    display: flex;
    justify-content:stretch;
    align-items: stretch;
    gap: 10px;

}

#changelog-cards-child{ 
    display: flex;
    flex-direction: column;
    width: 1000%;
    justify-content: center;
    background-color: #1b1913;
    padding: 10px 30px 10px 10px;
    border-radius: 4px;
    gap: 10px;
}


#testimonial{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

#testimonial #text{
    font-size: 16px;
}

#actual-review{
    display: grid;
}


#final-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team-section{ 
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 2px solid red; */
    margin: 70px auto ;
    gap: 10px;
}

#team-section #text {
    font-size: 20px;
}

#team-section div img {
    margin-top: 20px;
    width: 100%;
}
