*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFF;
}

@font-face {
    font-family: 'mintlify-font';
    src: url('assets/InterVariable-s.p.494bb210.ttf') format('ttf');
}



#first-window{
    background-image: url('assets/bg-light.svg');
    width: 100%;
    height: 100%;
}

#icon-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}


#icon-part #text{
    font-family: 'mintlify-font';
    font-size: 26px;
    padding-bottom: 10px;
}

#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px 18px;
}

#left-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;               
    padding: 10px;              
    /* border: 1px solid black;  */
}

#right-container{
    display: flex;
    gap: 10%;
    /* border: 1px solid black;  */

}

#right-container div{ 
    border-radius: 26px;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;    
    padding: 4px;

}
#navbar div{
    padding: 10px 10px;
}
#navbar a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
}


#navbar a:hover{
    /* border: 2px solid #FFFFFF; */
    padding: 6px 2px;
    border-radius: 30px;
    background-color: lab(100% 0 0 / .15);;


}